.cameraHolder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.cameraContainer {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}

.zoomLogo {
    width: 30px;
    height: 30px;
}

.zoomBtn {
    align-self: center;
    cursor: pointer;
    background-color: white;
    border: 0px white;
}

#webCam {
    width:700px
}

/* styles.css */
@media (max-width: 768px) {
    #webCam {
        width: 250px;
    }
  }