.imageCardContainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 10px;
    gap: 2px;
}

.imageShowContainer {
    width: auto;
    height: 140px;
    transition-duration: 1s;
    transition-property: transform;
    transition-delay: 0.1s;
}

.imageShowContainer:hover {
    transform: scale(1.4);
}

.imageShowContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.timeAndDelete {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    align-items: center;
}

#date {
    font-size: small;
    color: #817373;
}

.deleteBtn {
    max-width: 15px;
    padding: 0px;
}


/* styles.css */
@media (max-width: 768px) {
    .imageCardContainer {
        width: 150px;
        height: 200px;
        gap: 10px;
    }

    .imageShowContainer img {
        width: 150px;
        height: 100px;
    }

}