.App {
    text-align: center;
}

.dashboard {
    height: 100%;
    width: 100%;
}

.dashboardPageContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    min-height: 100vh
}

.deleteContainer {
    display: flex;
    position: fixed;
    top: 0px;
    background-color: white;
    gap: 10px;
    height: 55px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    justify-content: space-between;
    z-index: 12;
}

.navBarContainer {
    display: flex;
    background-color: rgba(163, 219, 240, 0.192);
    gap: 10px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.deleteTitle {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}

.deleteTitle>h3 {
    margin-top: 6px;
}

.galeryTitle {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}

.galeryTitle>h3 {
    font-size:x-large;
    font-weight: bold;
}

#crossLogoBtn:hover {
   background-color: transparent;
}

#logoImg {
    width: 50px;
}

.clickBtn {
    margin-right: 20px;
}

.clickBtn>img {
    width: 38px;
}

#clickImageTitle {
    font-size: small;
    margin-top: 4px;
    color: black;
}

.mainBodyContainer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.imageContainer {
    display: flex;
    gap: 30px;
    width: 92%;
    flex-wrap: wrap;
}

.clickFixedBtn {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 40px;
    cursor: pointer;
    background-color: rgb(124 202 228 / 58%);
    z-index: 20;
}

#cameraLogo {
  margin-left: 10px;
  font-size: 40px;
}

.footer {
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    gap: 15px;
    background-color: rgba(163, 219, 240, 0.192);
    margin-top: auto;
}

.deleteAndDownloadBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#downloadBtn {
    margin-top: 5px;
}

#imageUploadBtn:hover {
    background-color: transparent;
    border: 0px solid white;
}

/* styles.css */
@media (max-width: 768px) {

    .imageContainer {
        width: 82%;
    }

    .galeryTitle>h3 {
       margin-top: 5px;
    }

    .deleteTitle>h3 {
        margin-top: 8px;
    }

}