.App {
    text-align: center;
}

.dashboard {
    height: 100%;
    width: 100%;
}

.dashboardPageContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.navBarContainer {
    display: flex;
    background-color: rgba(163, 219, 240, 0.192);
    gap: 10px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.galeryTitle {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}

#logoImg {
    width: 50px;
}

.clickBtn {
    margin-right: 20px;
}

#clickImageTitle {
    font-size: small;
    margin-top: 5px;
}

.mainBodyContainer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.imageContainer {
    display: flex;
    gap: 30px;
    width: 96%;
    flex-wrap: wrap;
}

/* styles.css */
@media (max-width: 768px) {
    .imageContainer {
        width: 76%;
        gap: 30px;
    }

}